{% load cart_template_tags %}

<style>
  .dropdown-menu {
    width: 100%;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    max-width: 10px;
    overflow-x: hidden;
    margin-left:15%;
    margin-right:70%;
  }
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>


<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>



<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="#">
        <strong class="blue-text">Brutaler Shop</strong>
      </a>

      <a href="javascript:void(0)">Google.com</a>

      <div class="collapse navbar-collapse" id="navbar-list-3">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Alle
        </a>
        <ul class="dropdown-menu scrollable-menu" role="menu">
          <li><a href="#">Action 1</a></li>
          <li><a href="#">Action 2</a></li>
          <li><a href="#">Action 3</a></li>
          <li><a href="#">Action 4</a></li>
          <li><a href="#">Action 5</a></li>
          <li><a href="#">Action 6</a></li>
          <li><a href="#">Action 7</a></li>
          <li><a href="#">Action 8</a></li>
          <li><a href="#">Action 9</a></li>
          <li><a href="#">Action 10</a></li>
          <li><a href="#">Action 11</a></li>
          <li><a href="#">Action 12</a></li>
          <li><a href="#">Action 13</a></li>
          <li><a href="#">Action 14</a></li>
          <li><a href="#">Very very very very very very long action</a></li>
        </ul>
        
<!--         <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Alle
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Aktionen</a>
              <a class="dropdown-item" href="#">Aktuell</a>
              <a class="dropdown-item" href="http://127.0.0.1:8000/search/?keyword=Kleidung">Kleidung</a>

            </div>
          </li>   
        </ul> -->
        
      </div>

      <form class="form-inline" action="{% url 'core:search'%}" method="GET">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Suche" aria-label="Search" required
            size="50">
            
          <button class="btn btn-sm btn-outline-primary">
<!--             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>  -->
            <i class="fas fa-search"></i>
          </button>
        </div>
        </form>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          {% comment %} <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/checkout">
            Checkout</a>
          </li> {% endcomment %}
          
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Warenkorb </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
              <span class="clearfix d-none d-sm-inline-block"> Ausloggen </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="clearfix d-none d-sm-inline-block"> Einloggen </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="clearfix d-none d-sm-inline-block"> Registrieren </span>
            </a>
          </li>

          
          {% endif %}
        </ul>
        
      </div>
      

    </div>

    
  </nav>

  



